---
export interface Props {
  notes: Array<{
    href: string;
    title: string;
    repository: string;
    date: string;
  }>;
  onlySection?: boolean;
}

const { notes, onlySection = false } = Astro.props;
---

<section class="border-grid border-b">
  <div class="container-wrapper relative">
    <div class="container space-y-4 p-6">
      <h2
        class="font-mono text-xl leading-tight font-bold tracking-tighter sm:text-2xl md:text-3xl lg:leading-[1.1]"
      >
        Open Source Contributions
      </h2>
      {
        !onlySection && (
          <p class="mb-8">
            Here are some of my contributions to open source—pull requests,
            enhancements, and fixes for projects that I use.
          </p>
        )
      }
      <div class="flex flex-col gap-4">
        {
          notes.map((note) => (
            <a
              target="_blank"
              rel="noopener noreferrer"
              href={note.href}
              class="group relative flex items-center justify-between gap-4 outline-offset-[6px] hover:outline-[0.5px] hover:outline-neutral-600/50 hover:outline-dashed"
            >
              <div
                class="absolute top-[-6.25px] left-[-6.25px] hidden group-hover:block"
                style="--cross-size: 10px;"
              >
                <div class="absolute top-0 left-0 h-[var(--cross-size)] w-[0.5px] -translate-x-1/2 -translate-y-1/2 bg-neutral-500" />
                <div class="absolute top-0 left-0 h-[0.5px] w-[var(--cross-size)] -translate-x-1/2 -translate-y-1/2 bg-neutral-500" />
              </div>
              <div
                class="absolute right-[-6.25px] bottom-[-6.25px] hidden group-hover:block"
                style="--cross-size: 10px;"
              >
                <div class="absolute top-0 left-0 h-[var(--cross-size)] w-[0.5px] -translate-x-1/2 -translate-y-1/2 bg-neutral-500" />
                <div class="absolute top-0 left-0 h-[0.5px] w-[var(--cross-size)] -translate-x-1/2 -translate-y-1/2 bg-neutral-500" />
              </div>
              <div>
                <h3 class="font-mono text-">{note.title}</h3>
                <div class="text-muted-foreground group-hover:text-foreground flex flex-wrap items-center gap-2 font-mono text-xs">
                  <p>{note.repository}</p>
                  <span class="text-2xl">•</span>
                  <time>{note.date}</time>
                </div>
              </div>
              <svg
                viewBox="0 0 24 24"
                class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out shrink-0"
              >
                <line
                  x1="5"
                  y1="12"
                  x2="19"
                  y2="12"
                  class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
                />
                <polyline
                  points="12 5 19 12 12 19"
                  class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
                />
              </svg>
            </a>
          ))
        }
      </div>
      {
        onlySection && (
          <a
            href="/pull-requests"
            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-xs hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 group mt-4"
          >
            View more
            <svg
              viewBox="0 0 24 24"
              class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-2"
            >
              <line
                x1="5"
                y1="12"
                x2="19"
                y2="12"
                class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
              />
              <polyline
                points="12 5 19 12 12 19"
                class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
              />
            </svg>
          </a>
        )
      }
    </div>
  </div>
</section>
