---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex-grow pt-10 border-dashed border-b">
    <section
      class="flex flex-col container-wrapper items-center justify-center min-h-[70vh] px-4 py-20"
    >
      <h1 class="text-3xl font-bold text-gray-100">404</h1>
      <p class="text-2xl mt-4 text-gray-300">Oops! Page not found.</p>
      <p class="text-lg mt-2 text-gray-400 text-center max-w-xl">
        The page you are looking for might have been moved or no longer exists.
      </p>
      <a
        href="/"
        class="mt-8 bg-muted/60 text-foreground border p-2 px-4 rounded"
      >
        Go Back Home
      </a>
    </section>
  </main>
</Layout>
