---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex-grow pt-10">
    <section
      class="flex flex-col items-center justify-center min-h-[70vh] px-4 py-20"
    >
      <h1 class="text-3xl font-bold text-gray-100">404</h1>
      <p class="text-2xl mt-4 text-gray-300">Oops! Page not found.</p>
      <p class="text-lg mt-2 text-gray-400 text-center max-w-xl">
        The page you are looking for might have been moved or no longer exists.
      </p>
      <a
        href="/"
        class="mt-8 inline-block px-6 py-3 bg-zinc-800 hover:bg-zinc-700 text-white rounded shadow transition"
      >
        Go Back Home
      </a>
    </section>
  </main>
</Layout>
