<section class="border-grid border-b">
  <div class="container-wrapper">
    <div
      class="container space-y-4 flex justify-center items-center flex-col text-center py-8"
    >
      <img
        src="/avatar.png"
        alt="Ruban Thilak Picture"
        width="120"
        height="120"
        loading="lazy"
        decoding="async"
        class="rounded-full"
        style="will-change: transform, filter;"
      />
      <h2
        class="font-mono text-2xl leading-tight font-bold tracking-tighter sm:text-3xl md:text-4xl lg:leading-[1.1]"
      >
        Hey, I'm Ruban Thilak
      </h2>
      <p class="text-center px-4">
        I am a <span class="font-bold">Senior Software Engineer</span> at Freshworks, contributing
        to <span class="font-bold"
          ><a
            class="decoration-[0.1em] underline-offset-4 hover:underline hover:decoration-wavy hover:decoration-cyan-400"
            target="_blank"
            href="https://freshworks.com/freshservice">Freshservice</a
          ></span
        >. I primarily work on developing highly scalable applications with a
        focus on optimization and performance.
      </p>

      <p class="px-4 md:w-3/4">
        When I am not writing code, I enjoy traveling, riding motorcyles,
        working out, and sometimes racing rubber ducks in the pool.
      </p>
    </div>
  </div>
</section>
