<section class="border-grid border-b">
  <div class="container-wrapper relative">
    <div class="container space-y-4 p-6">
      <h2
        class="font-mono text-xl leading-tight font-bold tracking-tighter sm:text-2xl md:text-3xl lg:leading-[1.1]"
      >
        Skills
      </h2>
      <p>
        Here’s a list of my things I use to build software and stay productive.
      </p>
      <div class="space-y-2">
        <h3 class="flex items-center gap-2 font-mono text-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-zap size-4"
            ><path
              d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
            ></path></svg
          > Productivity
        </h3>
        <div class="flex flex-wrap gap-2.5">
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://obsidian.md/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Obsidian
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://diabrowser.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Dia
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://code.visualstudio.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              VS Code
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://ohmyz.sh/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Ohmyz.sh
            </a>
          </div>
          <div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://junegunn.github.io/fzf"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              fzf
            </a>
          </div>
          <div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://github.com/romkatv/powerlevel10k"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Powerlevel10k
            </a>
          </div>
        </div>
      </div><div class="space-y-2">
        <h3 class="flex items-center gap-2 font-mono text-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-tool-case-icon lucide-tool-case"
            ><path d="M10 15h4"></path><path
              d="m14.817 10.995-.971-1.45 1.034-1.232a2 2 0 0 0-2.025-3.238l-1.82.364L9.91 3.885a2 2 0 0 0-3.625.748L6.141 6.55l-1.725.426a2 2 0 0 0-.19 3.756l.657.27"
            ></path><path
              d="m18.822 10.995 2.26-5.38a1 1 0 0 0-.557-1.318L16.954 2.9a1 1 0 0 0-1.281.533l-.924 2.122"
            ></path><path
              d="M4 12.006A1 1 0 0 1 4.994 11H19a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z"
            ></path></svg
          >Frameworks
        </h3>
        <div class="flex flex-wrap gap-2.5">
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://git-scm.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Git
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://rubyonrails.org//"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Ruby on Rails
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://react.dev/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              React
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://nextjs.org/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Next.js
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://tailwindcss.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Tailwind
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://fastapi.tiangolo.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              FastAPI
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://www.mysql.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              MySQL
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Docker
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://aws.amazon.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              AWS
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://kubernetes.io/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Kubernetes
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.jenkins.io/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Jenkins
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://redis.io/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Redis
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://k9scli.io/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              K9s
            </a>
          </div>
        </div>
      </div>
      <div class="space-y-2">
        <h3 class="flex items-center gap-2 font-mono text-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-terminal size-4"
            ><polyline points="4 17 10 11 4 5"></polyline><line
              x1="12"
              x2="20"
              y1="19"
              y2="19"></line></svg
          > Programming
        </h3>
        <div class="flex flex-wrap gap-2.5">
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.ruby-lang.org/en/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Ruby
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://www.python.org/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Python
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.javascript.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Javascript
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.java.com/en/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Java
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
