<section class="border-grid border-b">
  <div class="container-wrapper relative">
    <div class="container space-y-4 p-6">
      <h2
        class="font-mono text-xl leading-tight font-bold tracking-tighter sm:text-2xl md:text-3xl lg:leading-[1.1]"
      >
        Work
      </h2>
      <div class="space-y-4">
        <div class="space-y-1">
          <a
            href="https://freshworks.com/"
            target="_blank"
            class="group hover:text-muted-foreground inline-flex max-w-max items-start underline font-mono font-semibold"
          >
            Freshworks <svg
              viewBox="0 0 24 24"
              class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 -rotate-45"
            >
              <line
                x1="5"
                y1="12"
                x2="19"
                y2="12"
                class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
              ></line>
              <polyline
                points="12 5 19 12 12 19"
                class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
              ></polyline>
            </svg>
          </a>
          <div class="text-muted-foreground text-sm">
            <p>Senior Software Engineer (Nov. 2021 - present)</p>
          </div>
        </div>
        <div class="space-y-1">
          <a
            href="https://www.cognizant.com/"
            target="_blank"
            class="group hover:text-muted-foreground inline-flex max-w-max items-start underline font-mono font-semibold"
          >
            Cognizant <svg
              viewBox="0 0 24 24"
              class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 -rotate-45"
            >
              <line
                x1="5"
                y1="12"
                x2="19"
                y2="12"
                class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
              ></line>
              <polyline
                points="12 5 19 12 12 19"
                class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
              ></polyline>
            </svg>
          </a>
          <div class="text-muted-foreground text-sm">
            <p>Programmer Analyst (Dec. 2020 - Oct. 2021)</p>
          </div>
        </div>
        <div class="space-y-1">
          <a
            href="https://zohocorp.com/"
            target="_blank"
            class="group hover:text-muted-foreground inline-flex max-w-max items-start underline font-mono font-semibold"
          >
            Zoho <svg
              viewBox="0 0 24 24"
              class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 -rotate-45"
            >
              <line
                x1="5"
                y1="12"
                x2="19"
                y2="12"
                class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
              ></line>
              <polyline
                points="12 5 19 12 12 19"
                class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
              ></polyline>
            </svg>
          </a>
          <div class="text-muted-foreground text-sm">
            <p>Web Developer (Feb. 2020 - Nov. 2020)</p>
          </div>
        </div>
        <a
          href="/work"
          class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-xs hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 group mt-2"
        >
          View more
          <svg
            viewBox="0 0 24 24"
            class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-2"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
            ></line>
            <polyline
              points="12 5 19 12 12 19"
              class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
            ></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
