<section class="border-grid border-b">
  <div class="container-wrapper">
    <div class="container space-y-4 py-4">
      <h2
        class="px-4 text-3xl font-bold"
      >
        Experience
      </h2>
      <div class="flex items-start border-dashed border-b">
        <div>
          <img src="/freshworks.png" alt="" width="120" height="120" />
        </div>
        <div>
          <p class="text-sm">Oct 2023 - Present</p>
          <p class="text-lg font-bold">Senior Software Engineer</p>
          <p class="text-sm">
            <a target="_blank" href="https://freshworks.com">Freshworks</a>,
            Chennai
          </p>
          <div class="mt-4">
            <p class="font-bold">Project : Workflow Automator</p>
            <ul class="list-disc mt-4 pl-10">
              <li>
                Working with the API-Gateway team at Freshworks on building a
                service which provides api-throttling and rate-limiting.
              </li>
              <li class="mt-2">
                Developed features in the rate-limiting service while
                maintaining the core tenets of having low-latency and high
                throughput.
              </li>
              <li class="mt-2">
                Worked on tuning reverse proxy - Envoy, for improved performance
                of rate-limiting service to process more than half a billion
                requests a day at 1ms
              </li>
              <li class="mt-2">
                Open-source feature contributions to Envoy (a CNCF graduated
                project).
              </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Rails
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Docker
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Kafka
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Scylla
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Conductor
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Java
              </p>
            </div>
          </div>
          <div class="mt-4">
            <p class="font-bold">Project : Data Restoration</p>
            <ul class="list-disc mt-4 pl-10">
              <li>
                Working with the API-Gateway team at Freshworks on building a
                service which provides api-throttling and rate-limiting.
              </li>
              <li class="mt-2">
                Developed features in the rate-limiting service while
                maintaining the core tenets of having low-latency and high
                throughput.
              </li>
              <li class="mt-2">
                Worked on tuning reverse proxy - Envoy, for improved performance
                of rate-limiting service to process more than half a billion
                requests a day at 1ms
              </li>
              <li class="mt-2">
                Open-source feature contributions to Envoy (a CNCF graduated
                project).
              </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Rails
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Docker
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Kafka
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Scylla
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Conductor
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Java
              </p>
            </div>
          </div>
          <div class="mt-4">
            <p class="font-bold">Project : Rails Upgrade & Infra Optimization</p>
            <ul class="list-disc mt-4 pl-10">
              <li>
                Working with the API-Gateway team at Freshworks on building a
                service which provides api-throttling and rate-limiting.
              </li>
              <li class="mt-2">
                Developed features in the rate-limiting service while
                maintaining the core tenets of having low-latency and high
                throughput.
              </li>
              <li class="mt-2">
                Worked on tuning reverse proxy - Envoy, for improved performance
                of rate-limiting service to process more than half a billion
                requests a day at 1ms
              </li>
              <li class="mt-2">
                Open-source feature contributions to Envoy (a CNCF graduated
                project).
              </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Rails
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Docker
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Kafka
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Scylla
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Conductor
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Java
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-start border-dashed border-b">
        <div>
          <img src="/freshworks.png" alt="" width="120" height="120" />
        </div>
        <div>
          <p class="text-sm">Nov 2021 - Oct 2023</p>
          <p class="text-lg font-bold">Software Engineer</p>
          <p class="text-sm">
            <a target="_blank" href="https://freshworks.com">Freshworks</a>,
            Chennai
          </p>
          <div class="mt-4">
            <p class="font-bold">Project : Alert Management</p>
            <ul class="list-disc mt-4 pl-10">
              <li>
                Working with the API-Gateway team at Freshworks on building a
                service which provides api-throttling and rate-limiting.
              </li>
              <li class="mt-2">
                Developed features in the rate-limiting service while
                maintaining the core tenets of having low-latency and high
                throughput.
              </li>
              <li class="mt-2">
                Worked on tuning reverse proxy - Envoy, for improved performance
                of rate-limiting service to process more than half a billion
                requests a day at 1ms
              </li>
              <li class="mt-2">
                Open-source feature contributions to Envoy (a CNCF graduated
                project).
              </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Ruby
              </p>
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Rails
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Emberjs
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                MySql
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Redis
              </p>
            </div>
          </div>
          <div class="mt-8">
            <p class="font-bold">Project : Service Health Monitoring</p>
            <ul class="list-disc mt-4 pl-10">
              <li>
                Working with the API-Gateway team at Freshworks on building a
                service which provides api-throttling and rate-limiting.
              </li>
              <li class="mt-2">
                Developed features in the rate-limiting service while
                maintaining the core tenets of having low-latency and high
                throughput.
              </li>
              <li class="mt-2">
                Worked on tuning reverse proxy - Envoy, for improved performance
                of rate-limiting service to process more than half a billion
                requests a day at 1ms
              </li>
              <li class="mt-2">
                Open-source feature contributions to Envoy (a CNCF graduated
                project).
              </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Ruby
              </p>
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Rails
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Emberjs
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                MySql
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Redis
              </p>
            </div>
          </div>
          <div class="mt-8">
            <p class="font-bold">Project : Lowkiq Opentelemetry</p>
            <ul class="list-disc mt-4 pl-10">
              <li>
                Working with the API-Gateway team at Freshworks on building a
                service which provides api-throttling and rate-limiting.
              </li>
              <li class="mt-2">
                Developed features in the rate-limiting service while
                maintaining the core tenets of having low-latency and high
                throughput.
              </li>
              <li class="mt-2">
                Worked on tuning reverse proxy - Envoy, for improved performance
                of rate-limiting service to process more than half a billion
                requests a day at 1ms
              </li>
              <li class="mt-2">
                Open-source feature contributions to Envoy (a CNCF graduated
                project).
              </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Ruby
              </p>
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Rails
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Emberjs
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                MySql
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Redis
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-start border-dashed border-b">
        <div class="w-24 h-14 rounded-sm bg-white flex items-center justify-center m-4">
          <img src="/cognizant.png" />
        </div>
        <div>
          <p class="text-sm">Dec 2020 - Nov 2021</p>
          <p class="text-lg font-bold">Programmer Analyst</p>
          <p class="text-sm">
            <a target="_blank" href="https://zohocorp.com">Cognizant</a>,
            India (Remote)
          </p>
          <div class="mt-4">
            <p class="font-bold">Project: Appian - Building application & Data pipeline</p>
            <ul class="list-disc mt-4 pl-10">
                <li>
                Developed a C++ shared library using the Win32 API to handle native Windows task and file management operations.
                </li>
                <li class="mt-2">
                  Built a Java API (Servlets) to expose native features, connecting the C++ library via Java Native Intefaces.
                </li>
                <li class="mt-2">
                Integrated the Java API with a web interface built using Ember.js, enabling remote access and management.
                </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Win32
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Ember.js
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Javascript
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                C++
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Java
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Tomcat
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-start border-dashed border-b">
        <div class="w-[100px] flex items-center justify-center p-1 m-4">
          <img src="/zoho.png" />
        </div>
        <div>
          <p class="text-sm">Feb 2020 - Nov 2020</p>
          <p class="text-lg font-bold">Graduate Trainee</p>
          <p class="text-sm">
            <a target="_blank" href="https://zohocorp.com">Zoho</a>,
            Chennai
          </p>
          <div class="mt-4">
            <p class="font-bold">Project: Task & File Manager - Web Application</p>
            <ul class="list-disc mt-4 pl-10">
                <li>
                Developed a C++ shared library using the Win32 API to handle native Windows task and file management operations.
                </li>
                <li class="mt-2">
                  Built a Java API (Servlets) to expose native features, connecting the C++ library via Java Native Intefaces.
                </li>
                <li class="mt-2">
                Integrated the Java API with a web interface built using Ember.js, enabling remote access and management.
                </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Win32
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Ember.js
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Javascript
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                C++
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Java
              </p>
              <p
                class="bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Tomcat
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
