<section class="border-grid border-b">
  <div class="container-wrapper">
    <div
      class="container space-y-4 flex justify-center items-center flex-col text-center py-8"
    >
      <img
        src="/avatar.png"
        alt="Ruban Thilak Picture"
        width="120"
        height="120"
        loading="lazy"
        decoding="async"
        class="rounded-full"
      />
      <h2
        class="font-mono text-2xl leading-tight font-bold tracking-tighter sm:text-3xl md:text-4xl lg:leading-[1.1]"
      >
        Hey, I'm Ruban Thilak
      </h2>
      <p>
        I am a <strong>Senior Software Engineer</strong> at Freshworks, contributing
        to <strong
          ><a
            class="decoration-[0.1em] underline-offset-4 hover:underline hover:decoration-wavy"
            target="_blank"
            href="https://freshworks.com/freshservice">Freshservice</a
          ></strong
        >. I primarily work on developing highly scalable applications with a
        focus on optimization and performance.
      </p>

      <p>
        When I am not writing code, I enjoy traveling, riding motorcyles,
        working out,<br /> and sometimes racing rubber ducks in the pool.
      </p>
    </div>
  </div>
</section>
<section class="border-grid border-b">
  <div class="container-wrapper">
    <div class="container space-y-4 py-4">
      <h2
        class="pl-4 text-xl font-bold sm:text-2xl md:text-3xl lg:leading-[1.1]"
      >
        Work
      </h2>
      <div class="flex w-3/4">
        <div>
          <img src="/freshworks.png" alt="" width="120" height="120" />
        </div>
        <div>
          <p class="text-sm">2019 - 2021</p>
          <p class="text-lg font-bold">Senior Software Engineer</p>
          <p class="text-sm">
            <a target="_blank" href="https://freshworks.com">Freshworks</a>,
            Chennai
          </p>
          <div class="mt-4">
            <p class="font-bold">Project : Workflow Automator</p>
            <ul class="list-disc mt-4 pl-10">
              <li>
                Working with the API-Gateway team at Freshworks on building a
                service which provides api-throttling and rate-limiting.
              </li>
              <li class="mt-2">
                Developed features in the rate-limiting service while
                maintaining the core tenets of having low-latency and high
                throughput.
              </li>
              <li class="mt-2">
                Worked on tuning reverse proxy - Envoy, for improved performance
                of rate-limiting service to process more than half a billion
                requests a day at 1ms
              </li>
              <li class="mt-2">
                Open-source feature contributions to Envoy (a CNCF graduated
                project).
              </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-black bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Rails
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Docker
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Kafka
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Scylla
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Conductor
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Java
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-3/4 mt-8">
        <div>
          <img src="/freshworks.png" alt="" width="120" height="120" />
        </div>
        <div>
          <p class="text-sm">2019 - 2021</p>
          <p class="text-lg font-bold">Senior Software Engineer</p>
          <p class="text-sm">
            <a target="_blank" href="https://freshworks.com">Freshworks</a>,
            Chennai
          </p>
          <div class="mt-4">
            <p class="font-bold">Project : Workflow Automator</p>
            <ul class="list-disc mt-4 pl-10">
              <li>
                Working with the API-Gateway team at Freshworks on building a
                service which provides api-throttling and rate-limiting.
              </li>
              <li class="mt-2">
                Developed features in the rate-limiting service while
                maintaining the core tenets of having low-latency and high
                throughput.
              </li>
              <li class="mt-2">
                Worked on tuning reverse proxy - Envoy, for improved performance
                of rate-limiting service to process more than half a billion
                requests a day at 1ms
              </li>
              <li class="mt-2">
                Open-source feature contributions to Envoy (a CNCF graduated
                project).
              </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-black bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Rails
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Docker
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Kafka
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Scylla
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Conductor
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Java
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-3/4 mt-8">
        <div class="w-24 h-10 flex items-center justify-center m-4">
          <img src="/zoho.png" />
        </div>
        <div>
          <p class="text-sm">Feb 2020 - Jul 2020</p>
          <p class="text-lg font-bold">Project Trainee</p>
          <p class="text-sm">
            <a target="_blank" href="https://zohocorp.com">Zoho</a>,
            Chennai
          </p>
          <div class="mt-4">
            <p class="font-bold">Project: Task & File Manager - Web Application</p>
            <ul class="list-disc mt-4 pl-10">
                <li>
                Developed a C++ shared library using the Win32 API to handle native Windows task and file management operations.
                </li>
                <li class="mt-2">
                  Built a Java API (Servlets) to expose native features, connecting the C++ library via Java Native Intefaces.
                </li>
                <li class="mt-2">
                Integrated the Java API with a web interface built using Ember.js, enabling remote access and management.
                </li>
            </ul>
            <div class="mt-6 flex flex-wrap items-center gap-2">
              <p
                class="bg-black bg-opacity-60 text-foreground border px-2 py-1.5 text-sm"
              >
                Win32
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Ember.js
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Javascript
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                C++
              </p>
              <p
                class="bg-black bg-opacity-50 text-foreground border px-2 py-1.5 text-sm"
              >
                Java
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
