<section class="border-grid border-b">
  <div class="container-wrapper">
    <div
      class="container space-y-4 flex justify-center items-center flex-col text-center py-8"
    >
      <img
        src="/avatar.png"
        alt="Ruban Thilak Picture"
        width="120"
        height="120"
        loading="lazy"
        decoding="async"
        class="rounded-full"
      />
      <h2
        class="font-mono text-2xl leading-tight font-bold tracking-tighter sm:text-3xl md:text-4xl lg:leading-[1.1]"
      >
        Hey, I'm Ruban Thilak
      </h2>
      <p>
        I am a <strong>Senior Software Engineer</strong> at Freshworks, contributing
        to <strong
          ><a
            class="decoration-[0.1em] underline-offset-4 hover:underline hover:decoration-wavy hover:decoration-cyan-400"
            target="_blank"
            href="https://freshworks.com/freshservice">Freshservice</a
          ></strong
        >. I primarily work on developing highly scalable applications with a
        focus on optimization and performance.
      </p>

      <p>
        When I am not writing code, I enjoy traveling, riding motorcyles,
        working out,<br /> and sometimes racing rubber ducks in the pool.
      </p>
    </div>
  </div>
</section>
<section class="border-grid border-b">
  <div class="container-wrapper relative">
    <div class="container space-y-4 p-6">
      <h2
        class="font-mono text-xl leading-tight font-bold tracking-tighter sm:text-2xl md:text-3xl lg:leading-[1.1]"
      >
        Work
      </h2>
      <div class="space-y-4">
        <div class="space-y-1">
          <a
            href="https://freshworks.com/"
            target="_blank"
            class="group hover:text-muted-foreground inline-flex max-w-max items-start underline font-mono font-semibold"
          >
            Freshworks <svg
              viewBox="0 0 24 24"
              class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 size-3.5 -rotate-45"
            >
              <line
                x1="5"
                y1="12"
                x2="19"
                y2="12"
                class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
              ></line>
              <polyline
                points="12 5 19 12 12 19"
                class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
              ></polyline>
            </svg>
          </a>
          <div class="text-muted-foreground text-sm">
            <p>Senior Software Engineer (Nov. 2021 - present)</p>
          </div>
        </div>
        <div class="space-y-1">
          <a
            href="https://www.cognizant.com/"
            target="_blank"
            class="group hover:text-muted-foreground inline-flex max-w-max items-start underline font-mono font-semibold"
          >
            Cognizant <svg
              viewBox="0 0 24 24"
              class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 size-3.5 -rotate-45"
            >
              <line
                x1="5"
                y1="12"
                x2="19"
                y2="12"
                class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
              ></line>
              <polyline
                points="12 5 19 12 12 19"
                class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
              ></polyline>
            </svg>
          </a>
          <div class="text-muted-foreground text-sm">
            <p>Programmer Analyst (Dec. 2020 - Oct. 2021)</p>
          </div>
        </div>
        <div class="space-y-1">
          <a
            href="https://zohocorp.com/"
            target="_blank"
            class="group hover:text-muted-foreground inline-flex max-w-max items-start underline font-mono font-semibold"
          >
            Zoho <svg
              viewBox="0 0 24 24"
              class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 size-3.5 -rotate-45"
            >
              <line
                x1="5"
                y1="12"
                x2="19"
                y2="12"
                class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
              ></line>
              <polyline
                points="12 5 19 12 12 19"
                class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
              ></polyline>
            </svg>
          </a>
          <div class="text-muted-foreground text-sm">
            <p>Web Developer (Feb. 2020 - Nov. 2020)</p>
          </div>
        </div>
        <a
          href="/work"
          class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-xs hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 group mt-2"
        >
          View more
          <svg
            viewBox="0 0 24 24"
            class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-2"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
            ></line>
            <polyline
              points="12 5 19 12 12 19"
              class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
            ></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="border-grid border-b">
  <div class="container-wrapper relative">
    <div class="container space-y-4 p-6">
      <h2
        class="font-mono text-xl leading-tight font-bold tracking-tighter sm:text-2xl md:text-3xl lg:leading-[1.1]"
      >
        Projects
      </h2>
      <a
        class="group relative flex items-center justify-between gap-4 outline-offset-[6px] hover:outline-[0.5px] hover:outline-neutral-600/50 hover:outline-dashed"
        target="_blank"
        href="https://hookcn.ouassim.tech"
      >
        <div
          class="absolute top-[-6.25px] left-[-6.25px] hidden group-hover:block"
          style="--cross-size: 10px;"
        >
          <div
            class="absolute top-0 left-0 h-[var(--cross-size)] w-[0.5px] -translate-x-1/2 -translate-y-1/2 bg-neutral-500"
          >
          </div>
          <div
            class="absolute top-0 left-0 h-[0.5px] w-[var(--cross-size)] -translate-x-1/2 -translate-y-1/2 bg-neutral-500"
          >
          </div>
        </div>
        <div
          class="absolute right-[-6.25px] bottom-[-6.25px] hidden group-hover:block"
          style="--cross-size: 10px;"
        >
          <div
            class="absolute top-0 left-0 h-[var(--cross-size)] w-[0.5px] -translate-x-1/2 -translate-y-1/2 bg-neutral-500"
          >
          </div>
          <div
            class="absolute top-0 left-0 h-[0.5px] w-[var(--cross-size)] -translate-x-1/2 -translate-y-1/2 bg-neutral-500"
          >
          </div>
        </div>
        <div>
          <p class="font-mono font-semibold">Classdesk</p>
          <p class="text-muted-foreground mb-4 text-sm">
            AI Copilot for classrooms.
          </p>
          <div class="flex flex-wrap items-center gap-2">
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              Nextjs
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              Tailwindcss
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              Shadcn/ui
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              React
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              AWS
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              Docker
            </div>
          </div>
        </div>
        <svg
          viewBox="0 0 24 24"
          class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out shrink-0"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
          ></line>
          <polyline
            points="12 5 19 12 12 19"
            class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
          ></polyline>
        </svg>
      </a>
      <a
        class="group relative flex items-center justify-between gap-4 outline-offset-[6px] hover:outline-[0.5px] hover:outline-neutral-600/50 hover:outline-dashed"
        target="_blank"
        href="https://github.com/rubanthilak/osiris"
      >
        <div
          class="absolute top-[-6.25px] left-[-6.25px] hidden group-hover:block"
          style="--cross-size: 10px;"
        >
          <div
            class="absolute top-0 left-0 h-[var(--cross-size)] w-[0.5px] -translate-x-1/2 -translate-y-1/2 bg-neutral-500"
          >
          </div>
          <div
            class="absolute top-0 left-0 h-[0.5px] w-[var(--cross-size)] -translate-x-1/2 -translate-y-1/2 bg-neutral-500"
          >
          </div>
        </div>
        <div
          class="absolute right-[-6.25px] bottom-[-6.25px] hidden group-hover:block"
          style="--cross-size: 10px;"
        >
          <div
            class="absolute top-0 left-0 h-[var(--cross-size)] w-[0.5px] -translate-x-1/2 -translate-y-1/2 bg-neutral-500"
          >
          </div>
          <div
            class="absolute top-0 left-0 h-[0.5px] w-[var(--cross-size)] -translate-x-1/2 -translate-y-1/2 bg-neutral-500"
          >
          </div>
        </div>
        <div>
          <p class="font-mono font-semibold">Osiris</p>
          <p class="text-muted-foreground mb-4 text-sm">
            Farmers market on the Internet.
          </p>
          <div class="flex flex-wrap items-center gap-2">
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              Flutter
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              Dart
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              FastAPI
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              Python
            </div>
            <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
              Amazon S3
            </div>
          </div>
        </div>
        <svg
          viewBox="0 0 24 24"
          class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out shrink-0"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
          ></line>
          <polyline
            points="12 5 19 12 12 19"
            class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
          ></polyline>
        </svg>
      </a>
      <a
        href="/projects"
        class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-xs hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 group mt-4"
      >
        View more
        <svg
          viewBox="0 0 24 24"
          class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-2"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
          ></line>
          <polyline
            points="12 5 19 12 12 19"
            class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
          ></polyline>
        </svg>
      </a>
    </div>
  </div>
</section>
<section class="border-grid border-b">
  <div class="container-wrapper relative">
    <div class="container space-y-4 p-6">
      <h2
        class="font-mono text-xl leading-tight font-bold tracking-tighter sm:text-2xl md:text-3xl lg:leading-[1.1]"
      >
        Skills
      </h2>
      <p>
        Here’s a list of my things I use to build software and stay productive.
      </p>
      <div class="space-y-2">
        <h3 class="flex items-center gap-2 font-mono text-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-zap size-4"
            ><path
              d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
            ></path></svg
          > Productivity
        </h3>
        <div class="flex flex-wrap gap-2.5">
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://obsidian.md/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Obsidian
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://diabrowser.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Dia
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://vscode.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              VS Code
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://ohmyz.sh/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Ohmyz.sh
            </a>
          </div>
          <div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://github.com/junegunn/fzf"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              fzf
            </a>
          </div>
          <div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://github.com/romkatv/powerlevel10k"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Powerlevel10k
            </a>
          </div>
        </div>
      </div><div class="space-y-2">
        <h3 class="flex items-center gap-2 font-mono text-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-tool-case-icon lucide-tool-case"
            ><path d="M10 15h4"></path><path
              d="m14.817 10.995-.971-1.45 1.034-1.232a2 2 0 0 0-2.025-3.238l-1.82.364L9.91 3.885a2 2 0 0 0-3.625.748L6.141 6.55l-1.725.426a2 2 0 0 0-.19 3.756l.657.27"
            ></path><path
              d="m18.822 10.995 2.26-5.38a1 1 0 0 0-.557-1.318L16.954 2.9a1 1 0 0 0-1.281.533l-.924 2.122"
            ></path><path
              d="M4 12.006A1 1 0 0 1 4.994 11H19a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z"
            ></path></svg
          >Frameworks
        </h3>
        <div class="flex flex-wrap gap-2.5">
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.git.com"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Git
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://rubyonrails.org//"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Ruby on Rails
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://react.dev/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              React
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://nextjs.org/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Next.js
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://tailwindcss.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Tailwind
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://fastapi.tiangolo.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              FastAPI
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://www.mysql.org/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              MySQL
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Docker
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              AWS
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Kubernetes
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Jenkins
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Redis
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              K9s
            </a>
          </div>
        </div>
      </div>
      <div class="space-y-2">
        <h3 class="flex items-center gap-2 font-mono text-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-terminal size-4"
            ><polyline points="4 17 10 11 4 5"></polyline><line
              x1="12"
              x2="20"
              y1="19"
              y2="19"></line></svg
          > Programming
        </h3>
        <div class="flex flex-wrap gap-2.5">
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.javascript.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Ruby
            </a>
          </div><div
            class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs"
          >
            <a
              href="https://www.python.org/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Python
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Javascript
            </a>
          </div>
          <div class="bg-muted/60 text-foreground border px-2 py-1.5 text-xs">
            <a
              href="https://www.docker.com/"
              target="_blank"
              class="group hover:text-muted-foreground inline-flex max-w-max items-start no-underline"
            >
              Java
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-grid border-b">
  <div class="container-wrapper relative">
    <div class="container space-y-4 p-4">
      <h2
        class="font-mono text-xl leading-tight font-bold tracking-tighter sm:text-2xl md:text-3xl lg:leading-[1.1]"
      >
        Let's connect
      </h2>
      <p>
        If you want to get in touch with me about something or just to say hi,
        reach out on social media or send me an email.
      </p>
      <div class="mt-4 grid gap-y-4"></div><div
        class="flex flex-col gap-2 sm:flex-row sm:items-center"
      >
        <span class="inline-flex sm:w-40">GitHub</span>
        <a
          href="https://github.com/ruban-thilak"
          target="_blank"
          class="group hover:text-muted-foreground inline-flex max-w-max items-start underline"
        >
          https://github.com/ruban-thilak <svg
            viewBox="0 0 24 24"
            class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 size-3.5 -rotate-45"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
            ></line>
            <polyline
              points="12 5 19 12 12 19"
              class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
            ></polyline>
          </svg>
        </a>
      </div><div class="flex flex-col gap-2 sm:flex-row sm:items-center">
        <span class="inline-flex sm:w-40">Email</span>
        <a
          href="mailto:hello@rubanthilak.com"
          target="_blank"
          class="group hover:text-muted-foreground inline-flex max-w-max items-start underline"
        >
          hello@rubanthilak.com <svg
            viewBox="0 0 24 24"
            class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 size-3.5 -rotate-45"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
            ></line>
            <polyline
              points="12 5 19 12 12 19"
              class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
            ></polyline>
          </svg>
        </a>
      </div><div class="flex flex-col gap-2 sm:flex-row sm:items-center">
        <span class="inline-flex sm:w-40">Linkedin</span>
        <a
          href="https://www.linkedin.com/in/rubanthilak"
          target="_blank"
          class="group hover:text-muted-foreground inline-flex max-w-max items-start underline"
        >
          https://www.linkedin.com/in/rubanthilak <svg
            viewBox="0 0 24 24"
            class="size-4 fill-none stroke-current stroke-[2px] transition-opacity duration-300 ease-in-out ml-1 size-3.5 -rotate-45"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-[10px] scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
            ></line>
            <polyline
              points="12 5 19 12 12 19"
              class="-translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
            ></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

