---
import Contact from "../components/home/Contact.astro";
import Theme from "../components/Theme.astro";
---

<!doctype html>
<html lang="en" class="dark font-karla antialiased">
  <head>
    <meta charset="utf-8" /><meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Ruban Thilak</title><meta
      name="generator"
      content="Astro v5.11.0"
    /><meta
      name="description"
      content=" Ruban Thilak. Software Engineer with a keen love to beautiful design."
    />
    <meta property="og:type" content="website" /><meta
      property="og:url"
      content="https://rubanthilak.com/"
    />
    <meta property="og:title" content="Home - Ruban Thilak." /><meta
      property="og:description"
      content=" Ruban Thilak. Software Engineer with a keen love to beautiful design."
    />
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&amp;display=swap");
    </style>
    <script>
      const theme = localStorage.getItem("theme");
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="relative flex min-h-svh flex-col overflow-x-hidden antialiased">
    <nav class="border-grid bg-background sticky top-0 z-50 border-b">
      <div class="container-wrapper">
        <div class="container flex justify-between items-center w-full px-4">
          <a
            class="text-accent-foreground hover:text-primary text-lg font-semibold decoration-[0.1em] underline-offset-4 hover:underline hover:decoration-wavy decoration-red-500"
            href="/"
          >
            ruban.thilak
          </a>
          <div class="flex h-14 space-x-4 items-center justify-between">
            <a
              class="text-accent-foreground hover:text-primary text-sm font-medium decoration-[0.1em] underline-offset-4 hover:underline hover:decoration-wavy"
              href="/"
            >
              home
            </a>
            <a
              class="text-accent-foreground hover:text-primary text-sm font-medium decoration-[0.1em] underline-offset-4 hover:underline hover:decoration-wavy"
              href="/work"
            >
              experience
            </a>
            <a
              class="text-accent-foreground hover:text-primary text-sm font-medium decoration-[0.1em] underline-offset-4 hover:underline hover:decoration-wavy"
              href="/projects"
            >
              projects
            </a>
            <Theme />
          </div>
        </div>
      </div>
    </nav>
    <slot />
    <Contact />
    <footer
      class="flex items-center justify-center border-t border-grid bg-background p-4"
    >
      <span class="footer_footer-text">&copy; 2025 Ruban Thilak.</span>
    </footer>
  </body>
</html>
